<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.content %></td>
    <td><%= story.user_id %></td>
    <td><%= link_to 'Show', place_story_path(:id => story.to_param, :place_id => @place.to_param) %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_place_story_path %>
