<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Content:</b>
  <%= @story.content %>
</p>

<p>
  <b>Address:</b>
  <%= @story.address %>
</p>

<p>
  <b>Awesomeness:</b>
  <%= @story.value %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Rate Up', rate_story_path(@story, :rate => "up") %> <br />
  <%= link_to 'Rate down', rate_story_path(@story, :rate => "down") %> <br />
<% else %>
  <p><%= link_to "Sign in to Rate!", new_user_session_path %></p>
<% end %>
<% if current_user %>
  <%= link_to 'Edit', edit_story_path(@story) %> |
<% end %>
<%= link_to 'Back', root_path %>
