<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @place.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @place.lng %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
